---
import Layout from "../../layouts/Layout.astro";
import ThemeButton from "../../components/ThemeToggle";
import BlogView from "../../components/BlogView.astro";
import type { Post } from "../../types";
import { getSession } from "auth-astro/server";
import PageNavButtons from "@components/PageNavButtons.astro";

const { page } = Astro.params;
const API_URL = import.meta.env.API_URL as string;

// Get session and userEmail. Redirect to login if session is expired
const session = await getSession(Astro.request);

if (session && Date.parse(session.expires) < Date.now()) {
    return Astro.redirect("/login");
}
const userEmail = session?.user?.email || undefined;
const userName = session?.user?.name || undefined;

// Upsert user with async request only on first page
async function upsertUser(email: string, userName: string) {
    fetch(`${API_URL}/user`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            email,
            name: userName,
        }),
    });
}

if (Number(page) === 1) {
    userEmail && userName && (await upsertUser(userEmail, userName));
}

// Fetch posts for page
async function fetchPostsForPage(page: number, userEmail?: string) {
    const limit = 10;
    const offset = (page - 1) * limit;

    const baseUrl = userEmail
        ? `${API_URL}/posts?userEmail=${userEmail}&`
        : `${API_URL}/posts?`;

    const url = `${baseUrl}offset=${offset}&limit=${limit}`;

    const res = await fetch(url, {
        headers: {
            "Content-Type": "application/json",
        },
    });
    const postsData: Post[] = await res.json();
    return postsData;
}

// Page logic
const pageNumber = Number(page);
const prevPage = pageNumber !== 1 ? pageNumber - 1 : 1;
const posts = await fetchPostsForPage(pageNumber, userEmail);
const nextPage = posts.length > 1 ? pageNumber + 1 : pageNumber;
---

<Layout title="Engineering blogs">
    <main>
        <div class="text-center">
            <ThemeButton client:only />
        </div>
        <div class="items-center text-center p-5">
            <div>
                <h1 class="text-xl font-extrabold p-2">Latest posts</h1>
            </div>
            <PageNavButtons prevPage={prevPage} nextPage={nextPage} />
            {
                posts.length > 1 ? (
                    posts.map((p: any) => {
                        return <BlogView blog={p} />;
                    })
                ) : (
                    <div class="text-lg p-10">No more posts...</div>
                )
            }
        </div>
        <PageNavButtons prevPage={prevPage} nextPage={nextPage} />
    </main>
</Layout>
