---
import type { Subscription } from "../types";
import AllSubscriptionsList from "./allSubscriptions";
import { SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const userEmail = session?.user?.email || undefined;

const API_URL = import.meta.env.API_URL;

async function fetchBlogs() {
    const baseUrl = userEmail
        ? `${API_URL}/subscribed-blogs?userEmail=${userEmail}`
        : `${API_URL}/subscribed-blogs`;

    const res = await fetch(baseUrl, {
        headers: {
            "Content-Type": "application/json",
        },
    });

    return await res.json();
}

const subs: Subscription[] = await fetchBlogs();

// Sort by subscribed
subs.sort((a, b) =>
    a.subscribed === b.subscribed ? 0 : a.subscribed ? -1 : 1,
);

const comingSoonEntry = {
    blogId: 1000,
    blogLink: "/",
    companyName: "More coming soon!",
    subscribed: false,
};

subs.push(comingSoonEntry);
---

<nav
    class="bg-zinc-300 dark:bg-zinc-500 w-1/4 lg:w-1/6
text-center overflow-hidden overflow-y-scroll space-y-5 dark:text-black
p-1 h-full fixed top-0 left-0 hidden md:block"
>
    <div class="w-7/8 lg:w-5/6 m-auto pt-5 space-y-5">
        <a
            href="/posts/1"
            class="hover:bg-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100
      text-center m-auto flex justify-center items-center"
            >Home</a
        >
        <div>
            {
                session ? (
                    <SignOut class="hover:bg-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100">
                        Sign out
                    </SignOut>
                ) : (
                    <a
                        class="hover:bg-zinc-600 rounded-lg p-2 shadow-md transition:ease-in duration-100"
                        href="/login"
                    >
                        Sign in
                    </a>
                )
            }
        </div>
        <ul>
            <details class="cursor-pointer">
                <summary class="text-zinc-800 text-xs lg:text-lg"
                    >Subscriptions</summary
                >
                <AllSubscriptionsList
                    userEmail={userEmail}
                    client:load
                    apiUrl={API_URL}
                    subs={subs}
                />
            </details>
        </ul>
    </div>
</nav>
